button
{
	font-size: 40px;
	border-radius: 10px;
	font-family: Poppins;
	background-color: black;
	color: darkred;
	margin: 40px;
}

button:hover
{
	background-color: darkred;
	color: lightgreen;
}

.background
{
	background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX13189443.jpg);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}

h1
{
	font-family: Bebas Neue;
	text-align: center;
	font-size: 60px;
	color: white;
}

h2
{
	font-family: Raleway;
	text-align: center;
	color: white;
}